.about {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  position: relative;
}

.about .image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .image img {
  width: 70%;
}

.about .content {
  width: 50%;
  padding-right: 20px;
}

.about .content p,
.about .overlay p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.about .overlay {
  background: var(--main-color);
  color: var(--secondary-color);
  padding-right: 20px;
  position: absolute;
  right: 0%;
  width: 50%;
  clip-path: circle(100px at 0% 0%);
  transition: clip-path 100ms;
}

@media (max-width: 768px) {
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .overlay {
    display: none;
  }

  .about .image {
    min-width: 100%;
    margin: 2rem 0;
  }

  .about .image img {
    width: 50%;
  }

  .about .content {
    width: 100%;
    padding-right: 20px;
    text-align: center;
  }

  .about .content p {
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
  }
}
