@import url("./navbar.css");
@import url("./hero.css");
@import url("./about.css");

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --main-color: #fdad53;
  --secondary-color: #242424;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.box-bg {
  position: absolute;
  width: 65%;
  height: 100%;
  background-color: var(--main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .box-bg {
    width: 30%;
    transition: 0.3s ease-in-out;
  }
}

@media screen and (max-width: 425px) {
  .box-bg {
    display: none;
    opacity: 0;
  }
}
