.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
}

nav {
  background: rgba(255, 255, 255, 0.101);
}

.navbar {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  padding: 1rem 0;
}
